{% extends 'portfolio/base.html' %}
{% block title %}
        Home
{% endblock %}
{% block content %}
<a href="{% url 'blog:all_blogs' %}">All blogs</a>
{% load static %}


    <div class="text-center">
        <img class="rounded mx-auto image " src="{% static 'portfolio/collins.jpg' %}" alt="">

    </div>

    <div>


        <br>
        <div class="row">
               {% for project in Projects %}
            <div class="col-4">
               <h2>{{ project.title }}</h2>
            <p>{{ project.description }}</p>
            <img src="{{ project.image.url }}">

            {% if project.url %}
                <a href="{{ project.url }}">Link</a>
            {% endif %}
            </div>
             {% endfor %}
        </div>






    </div>

{% endblock %}

